:root {
  --brand: #1d2c3c;
  --border: #ced0d3;
  --input-bg: #edeff2;
  --max-width: 1440px;
  --bg-muted: #f5f7fa;
  --brand-aux: #548bc5;
  --background: #fff;
}

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}

input {
  all: unset;
}

h1 {
  font-size: 30px;
  margin-top: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0px 5px;
}

select {
  outline: none;
}

body {
  background: var(--background);
  font-weight: normal;
}

input {
  background-color: var(--input-bg);
  height: 36px;
  padding-inline: 1rem;
  color: #646e7a;
  font-size: 0.85rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

label {
  color: var(--brand);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.header {
  border-bottom: 3px solid var(--border);
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: 1rem;
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-list {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  padding: 0 8px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  font-size: 0.85rem;
  color: var(--brand);
}

.btn.outline {
  border: 1px solid var(--border);
}

.btn.submit-btn {
  background: #038e7d;
  border: 0;
  color: #fff;
  width: 100%;
  font-size: 1.15rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.purchase p {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 2rem;
}
.purchase a{
        text-decoration: underline;
        color: var(--brand);
}


.logo {
  display: inline-block;
}

.logo img {
  height: 39px;
  width: 200px;
}

main {
  margin-top: 50px;
}

.form-container {
  width: 900px;
  height: 795px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-inline: auto;
  box-shadow: 0 5px 20px #2b404e18;
  overflow: hidden;
}

.form-title h1 {
  font-size: 1.8rem;
  padding-inline: 49px;
    padding-block: 40px;
    border-bottom: 1px solid var(--bg-muted);
}

.checkout {
  height: 100%;
  flex: 1;
}

.step-section {
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
}
.count {
      width: 2rem;
      height: 2rem;
      align-items: center;
      justify-content: center;
}
.count p {
        font-weight: bold;
        color: var(--brand-aux);
}

.title {
      font-weight: bold;
      font-size: 1.2rem;
      margin-left: 10px;
}


.form-section {
    padding-inline: 49px;
    padding-block: 40px;
    border-bottom: 1px solid var(--bg-muted);
}

.input-field {
    flex-direction: column;
}

.info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.info div {
      grid-column: span 2;
}

.email {
      grid-column: span 3;
}
  
.card-info {
    display: grid;
    grid-template-columns: auto 20% 20%;
}
.exp {
      border-radius: 0;
}

.cvc {
      border-left: 0;
}

.number {
      border-right: 0;
}
  
.plan {
  background-color: #1179bf;
  color: #fff;
  padding: 42px;
  width: calc(100% - 84px);
  height: calc(100% - 84px);
}

.plan-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.plan-price {
  display: flex;
  font-weight: light;
  position: relative;
}
.currency {
    font-size: 1.4rem;
    font-weight: bold;
    position: absolute;
    top: 16px;
    left: 0;
}

.price {
    font-size: 60px;
    font-weight: light;
    margin-left: 18px;
}

.rate {
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 90px;
}

.plan-subtext {
  font-style: italic;
  max-width: 70%;
}

.benefits {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.benefits li {
    font-size: 1rem;
}
.benefits svg {
  fill: #fff;
}
.request {
  margin-top: 1.5rem;}
.request p {
    margin-bottom: 0.5rem;
}

.request a {
    display: inline-block;
    color: white;
    font-weight: bold;
    border-bottom: 4px solid #5ae0f8;
}

.review {
  border-top: 1px solid #57a9b4;
  margin-top: 3rem;
  padding-top: 3rem;
  font-style: italic;
}
.user {
    margin-top: 1.2rem;
    display: flex;
    align-items: center;

}
.avatar {
      width: 50px;
      height: 50px;
      overflow: hidden;
      background: #000;
      border-radius: 100%;
      margin-right: 0.5rem;
}

.span {
      font-weight: bold;
      display: inline-block;
}

svg {
  fill: #1179bf;
  margin: 0px 10px;
}
footer {
  justify-content: center;
  text-align: center;
  margin: 2rem;
}
